src/nodes/consensus/sample-flow.json
[
  {
    "id": "fbe2c505dffe472b",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f214cdf3529276b6",
    "type": "function",
    "z": "fbe2c505dffe472b",
    "name": "Prepare payload",
    "func": "msg.payload = {\n    votingUrl: 'https://public-rpc.testnet.energywebx.com',\n    votingRoundId: '1713262650714',\n    solutionNamespace: 'au-edge-oep-ineexs',\n    solutionGroupId: 'sxeeni'\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 360,
    "wires": [
      [
        "878fc9c4dbb2c410"
      ]
    ]
  },
  {
    "id": "6000f0c6e2aa3422",
    "type": "inject",
    "z": "fbe2c505dffe472b",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 360,
    "wires": [
      [
        "f214cdf3529276b6"
      ]
    ]
  },
  {
    "id": "ed4cb8f37ff6a009",
    "type": "catch",
    "z": "fbe2c505dffe472b",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 360,
    "y": 480,
    "wires": [
      [
        "878fc9c4dbb2c410"
      ]
    ]
  },
  {
    "id": "33b05f8315638e10",
    "type": "debug",
    "z": "fbe2c505dffe472b",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 360,
    "wires": []
  },
  {
    "id": "878fc9c4dbb2c410",
    "type": "consensus-node",
    "z": "fbe2c505dffe472b",
    "x": 620,
    "y": 360,
    "wires": [
      [
        "33b05f8315638e10"
      ]
    ]
  }
]